name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:

  determine-changes:
    name: Determine changed files
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.changed-files.outputs.src_any_changed }}
      doc: ${{ steps.changed-files.outputs.doc_any_changed }}
      test: ${{ steps.changed-files.outputs.test_any_changed }}
      workflow: ${{ steps.changed-files.outputs.workflow_any_changed }}

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Determine changed files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        id: changed-files
        with:
          files_yaml: |
            src:
              - '**/src/**'
              - '!**/src/**/*.md'
            doc:
              - '**/*.md'
              - '**/docs/**'
            test:
              - '**/tests/**'
              - '!**/tests/**/*.md'
            workflow:
              - .github/workflows/**

  lint-gh-actions:
    name: Lint GitHub Actions
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.workflow == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      security-events: write

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_level: error

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
        # with:
        #   advanced-security: false  # must be false for private repo

  check-spelling:
    name: Check spelling
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Check spelling
        uses: crate-ci/typos@1a319b54cc9e3b333fed6a5c88ba1a90324da514 # v1.40.1
        with:
          files: |
            .
            .github/**
